div.page-social-embed.right {
  float: right;
  margin-left: 25px;
}

div.page-social-embed.left {
  float: left;
  margin-right: 25px;
}

div.page-social-embed:hover {
  opacity: 0.75;
  cursor: pointer;
}

div.page-social-embed {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  width: 359px;
  text-align: left;
  img {
    width: 100px;
    float: left;
    margin-right: 15px;
    background-size: cover;
    background-position: center center;
  }
  h1 {
    font-size: 0.75em;
    margin-bottom: 0px;
    margin-top: -15px;
    line-height: 1em;
    margin-top: 5px;
    font-weight: bold;
    display: inline-block;
  }
  a {
    display: block;
    font-size: 0.65em;
    font-weight: bold;
    line-height: 1em;
    color: #4B4B4B;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  div.page-social-embed.right,
  div.page-social-embed.left {
    float: none;
    margin: 25px auto;
  }
  div.page-social-embed {
    width: 100%;
    padding: 25px 0px;
    img {
      width: 250px;
      margin-left: 25px;
    }
    h1 {
      margin-top: 15px;
      font-size: 2em;
    }
    a {
      font-size: 1.75em;
      margin-right: 25px;
    }
  }
}